
.custom-slider::-moz-range-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url('/Scudo.svg');
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
    border: none;
}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
}
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url('/Scudo.svg');
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
    border: none;
}
